%table.tablesorter
  %thead
    %tr
      %th When
      %th What
      %th How Much
  %tbody
    - for event in @events
      %tr 
        %td= event.happened_at.strftime('%b %d, %Y %I:%M %p')
        %td= event.event_type.event.capitalize
        %td
          - if event.quantity
            = event.quantity

:javascript
  $(function () { 
    $('.tablesorter').tablesorter({
      sortList: [[0,0]],
    }); 
  });
